<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.denip.nasyiatulaisyiyahfinance"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_na_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_na_app_circle"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".income.AddIncomeActivity"
            android:label="@string/add_income_title"
            android:theme="@style/AppTheme.NoActionBar.Income" />
        <activity
            android:name=".expense.AddExpenseActivity"
            android:label="@string/add_expense_title"
            android:theme="@style/AppTheme.NoActionBar.Expense"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/setting_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/profile_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.ChangePasswordActivity"
            android:label="@string/change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".income.AddAmountIncomeActivity"
            android:label="@string/add_income_title"
            android:theme="@style/AppTheme.NoActionBar.Income.AddAmount" />
        <activity
            android:name=".expense.category.CategoryExpenseSettingActivity"
            android:label="@string/expense_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".income.category.CategoryIncomeSettingActivity"
            android:label="@string/income_category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".expense.ExpenseDetailActivity"
            android:label="@string/expense_detail_title"
            android:theme="@style/AppTheme.NoActionBar.Expense" />
        <activity
            android:name=".income.IncomeDetailActivity"
            android:label="@string/income_detail_title"
            android:theme="@style/AppTheme.NoActionBar.Income" />
        <activity android:name=".expense.category.CategoryExpenseDetailActivity"></activity>
    </application>

</manifest>